

{% extends "layout.html" %}

{% block head %}
<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script-->

</head>

<body class="deck-container">
	<!--
<div class="theme-menu">
	
	<h2>Themes</h2>	
	
	<label for="style-themes">Style:</label>
	<select id="style-themes">
		<option selected value="../themes/style/web-2.0.css">Web 2.0</option>
		<option value="../themes/style/swiss.css">Swiss</option>
		<option value="../themes/style/neon.css">Neon</option>
		<option value="">None</option>
	</select>

	<label for="transition-themes">Transition:</label>
	<select id="transition-themes">
		<option selected value="../themes/transition/horizontal-slide.css">Horizontal Slide</option>
		<option value="../themes/transition/vertical-slide.css">Vertical Slide</option>
		<option value="../themes/transition/fade.css">Fade</option>
		<option value="">None</option>
	</select>

</div>

	-->
<script type="text/javascript">
//$(document).ready(function()  {
	
$(document).ready (function () {

		//alert ("in deck");
		//var deck = "hello";
		var deck = {{ pages|tojson|safe }};
		var title = {{ title|tojson|safe }};
		var fn = {{ first|tojson|safe }};
		var ln = {{ last |tojson|safe }};
		//var title = presdata.title;
		//var author = presdata.author;
		//alert (title + " "  + fn + " " + ln);
		//alert (deck.length);
		var slide;
		var top = $('.top');
		top.hide();
		var body = $('body');
		var cur = "";
		//alert ("top" + top);
		body.append('<div class="slide" id="' + 'frame-0' + '"><h1>' + title + '</h1> <header> <h2> ' + fn + " " + ln + ' </h2> ' + '</header></div>');
		
		for (var i = 0; i< deck.length; i++) {
			slide = deck[i];
			console.log(slide);
		//	slide.forEach(function(item) {
				// slide 0 is the title..
				cur = "frame-" + (i+1); 
				var content = new String("");
				content = content + '<div class="slide" id="';

				content =  content + cur  + '"><h2>' + slide[0].title + '</h2>';
	
				var arr = slide[0].content.split("\n");
				for (var x =0 ; x < arr.length; x++) {
					content = content + '<h3>' + arr[x] + '</h3>';
					
				}
				content = content + '</div>';
			//	alert (content);
				body.append (content);
				/*
				top.append('<div> class="slide" id="' + cur + '"');
				top.append('<h1>' + slide[0].title + '</h1>');
				top.append ('<p>' + slide[0].content + '</p>');
				top.append ('</div>');
				*/
				//alert (top.toString());
				//alert ("item " + item.title + " " + item.pagenum + " "  + item.content);
		//	});
		}
		/*
		$.extend(true, $.deck.defaults, {
		   classes: {
		      navDisabled: 'deck-nav-disabled'
		   },

		   selectors: {
		      nextLink: '.deck-next-link',
		      previousLink: '.deck-prev-link'
		   }
		});
		*/
		$.deck('.slide');
		//$.deck('go', 0);
		/*
		$.deck([
			'#frame-1',
			'#frame-2'
			]);
*/
	});
	

//$.deck('go', 0);
//});

</script>
<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
<a href="#" class="deck-next-link" title="Next">&#8594;</a>

{% endblock %}

{% block body %}



<script type="text/javascript">



	//deck.forEach(var i i)
    //for each (var i in deck) {
	//	alert (i);
	//}
	
	//$.getJSON(url, function(data){
	 //   alert(deck.title);
	
	


//$(document).ready (function () {
//	$.deck('.slide');
//}
</script>

<!--
<script>window.jQuery || document.write('<script src="{{ 
		url_for('static', filename='jquery.js'),
		url_for('static', filename='deck/modernizr.custom.js'),
	  url_for('static', filename='deck/core/deck.core.js'), 
	  url_for('static', filename='deck/extensions/goto/deck.goto.js') ,
	  url_for('static', filename='deck/extensions/hash/deck.hash.js') ,
	  url_for('static', filename='deck/extensions/menu/deck.menu.js') ,
	  url_for('static', filename='deck/extensions/status/deck.status.js'), 
		}}">\x3C/script>')
 

</script>
-->


{% endblock %}

