
{% extends "layout.html" %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type="text/javascript">
function newPage() {
	alert ('adding new page..');
}

function done() {
	alert ('adding new presentation');
}
</script>
<div class=preso>

  {% if session.logged_in %}
    <form action="{{ url_for('add_meta') }}" method=post class=add-page>
      <dl>
        <dt>Title:
        <dd><input type=text size=40 name=title>
        <dt>Text:
        <dd><input type=text name=tags size=40>
      </dl>
    <dd><input type=submit  name="New Page" value="newpage"></dd><br/>
    </form>
  {% endif %}


</div>
{% endblock %}

