
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.meta           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                                    padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
body            { font-family: sans-serif; background: #eee; }


input#new {
  color:#050;
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  background-color:#fed;
  border:1px solid;
  border-color: #696 #363 #363 #696;
}
input#done {
  color:#050;
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  background-color:#fed;
  border:1px solid;
  border-color: #696 #363 #363 #696;
  align:right;
}

input#css3button {
    	font-family: Arial, Helvetica, sans-serif;
    	font-size: 14px;
    	color: #050505;
    	padding: 10px 20px;
    	background: -moz-linear-gradient(
    		top,
    		#ffffff 0%,
    		#ebebeb 50%,
    		#dbdbdb 50%,
    		#b5b5b5);
    	background: -webkit-gradient(
    		linear, left top, left bottom, 
    		from(#ffffff),
    		color-stop(0.50, #ebebeb),
    		color-stop(0.50, #dbdbdb),
    		to(#b5b5b5));
    	border-radius: 10px;
    	-moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
    	border: 0px solid #949494;
    	-moz-box-shadow:
    		0px 1px 3px rgba(000,000,000,0.5),
    		inset 0px 0px 2px rgba(255,255,255,0);
    	-webkit-box-shadow:
    		0px 1px 3px rgba(000,000,000,0.5),
    		inset 0px 0px 2px rgba(255,255,255,0);
    	text-shadow:
    		0px -1px 0px rgba(000,000,000,0.2),
    		0px 1px 0px rgba(107,021,107,1);
    }
    
    label {
    	float: left; clear: left; margin: 11px 20px 0 0; width: 95px;
    	text-align: right; font-size: 16px; color: #445668;
    	text-transform: uppercase; text-shadow: 0px 1px 0px #f2f2f2;
    }
    input {
    	width: 260px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0;
    	background: #5E768D;
    	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
    	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
    	font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-transform: uppercase; text-shadow: 0px -1px 0px #334f71;
    }
    	input::-webkit-input-placeholder  {
        	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
    	}
    	input:-moz-placeholder {
    	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
    	}

        textarea {
        	width: 260px; height: 170px; padding: 12px 20px 0px 20px; margin: 0 0 20px 0;
        	background: #5E768D;
        	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
        	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
        	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
        	font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-transform: uppercase; text-shadow: 0px -1px 0px #334f71;
        }
        	textarea::-webkit-input-placeholder  {
            	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
        	}
        	textarea:-moz-placeholder {
        	    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
        	}

        input:focus, textarea:focus {
        	background: #728eaa;
        	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
        	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
        }

        input[type=submit] {
        	width: 185px; height: 52px; float: right; padding: 10px 15px; margin: 0 15px 0 0;
        	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
        	border: 1px solid #556f8c;
        	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
        	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
        	cursor: pointer;
        }
